div {
  background: #4b7fe8;
  margin: 10px;
}
.firstsquare {
  width: 200px;
  height: 200px;
  background-color: blue;
   position: absolute;
    top: 1px;
    left: 1px;

 }
  .secondsquare {
  width: 50px;
  height: 50px;
  background-color: orange; 
  position: absolute;
    top: 1px;
    left: 151px;
    }