body {
  font-family: Arial;
  padding: 60px;
  background-color: 660033;
}
.page-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
  color: blue;
  background-color: lightblue;
}
.Erin {
font-size: 30px;
 text-align: left;
 background-color: lightblue;
}